<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".challenge.ChallengePopUpDiscount"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />

        <activity
            android:name=".DialogueActivityType1"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".lesson.lessonVideo.VideoFrame"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".lesson.lessonVideo.LessonVideoMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".challenge.Challenge"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.lessonHangul.LessonHangulMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".qna.QnAReplied" android:exported="false" />
        <activity android:name=".qna.QnAFrame" android:exported="false" />
        <activity
            android:name=".GetRandomPoint"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CollectResult"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".LoadingPage"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".lesson.IntermediateFrame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".lesson.LessonReviewFrame" />

        <service
            android:name=".FirebaseCloudMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".CloudMessageReceiver"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".ConfirmQuit"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".UnlockActivity"
            android:exported="false"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".lesson.lessonNumber.LessonNumberMenu"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.lessonNumber.LessonNumberFrame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.LessonSpecialFrame"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/happy" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/PURPLE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".writing.WritingCorrected"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TopUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.Profile"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.Message"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.LessonFinish"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Logo"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.SignUp"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teachers.Teachers"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SignIn"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.CollectionStudy"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.CollectionFlashCard"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".writing.WritingFrame"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reading.ReadingFrame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.LessonFrame"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.lessonHangul.LessonHangulAssembly"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity android:name=".lesson.lessonHangul.LessonHangulFrame" android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="awesomekorean.net"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>